@import "../../app.scss";

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: $color-bg-card;
  border-top: 1px solid $color-border-light;
  padding: $spacing-2 0 $spacing-3;
  z-index: 1000;
  padding-bottom: calc($spacing-3 + env(safe-area-inset-bottom));

  .nav-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #999;
    transition: all 0.2s;

    svg {
      width: 48rpx;
      height: 48rpx;
      margin-bottom: $spacing-1;
    }

    .text {
      font-size: $font-size-xs;
    }

    &.active {
      color: $color-primary;
    }
  }
}
